# Project-27

# Introduction

# Preliminary Results

## Required Packages

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## Reading data from the web

In [2]:
hastings_2023 <- read_csv("https://raw.githubusercontent.com/Carson-Lu/stat201project-Group27/main/crimedata_csv_Hastings-Sunrise_2023.csv")
hastings_2022 <- read_csv("https://raw.githubusercontent.com/Carson-Lu/stat201project-Group27/main/crimedata_csv_Hastings-Sunrise_2022.csv")
west_point_grey_2022 <- read_csv("https://raw.githubusercontent.com/Carson-Lu/stat201project-Group27/main/crimedata_csv_West%20Point%20Grey_2022.csv")
west_point_grey_2023 <- read_csv("https://raw.githubusercontent.com/Carson-Lu/stat201project-Group27/main/crimedata_csv_West%20Point%20Grey_2023.csv")

Rows: 482 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): TYPE, HUNDRED_BLOCK, NEIGHBOURHOOD
dbl (7): YEAR, MONTH, DAY, HOUR, MINUTE, X, Y

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 946 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): TYPE, HUNDRED_BLOCK, NEIGHBOURHOOD
dbl (7): YEAR, MONTH, DAY, HOUR, MINUTE, X, Y

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 238 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): TYPE, HUNDRED_BLOCK, NEIGHBOURHOOD
dbl (7): YEAR, MONTH, DAY, HOUR, MINUTE, X, Y

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 165 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): TYPE, HUNDRED_BLOCK, NEIGHBOURHOOD
dbl (7): YEAR, MONTH, DAY, HOUR, MINUTE, X, Y

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [6]:
head(hastings_2023)
head(hastings_2022)
head(west_point_grey_2022)
head(west_point_grey_2023)

  TYPE               YEAR MONTH DAY HOUR MINUTE HUNDRED_BLOCK
1 Theft from Vehicle 2023 3      2  16    0     11XX NOOTKA ST
2 Theft from Vehicle 2023 4     13  10   59     12XX KAMLOOPS ST
3 Theft from Vehicle 2023 2     28   0    0     12XX NOOTKA ST
4 Theft from Vehicle 2023 2      3   2   20     14XX RENFREW ST
5 Theft from Vehicle 2023 1     30   2   11     16XX LILLOOET ST
6 Theft from Vehicle 2023 4     13  22   30     16XX NANAIMO ST
  NEIGHBOURHOOD    X        Y
1 Hastings-Sunrise 496992.1 5457928
2 Hastings-Sunrise 496017.8 5457847
3 Hastings-Sunrise 496992.2 5457899
4 Hastings-Sunrise 496790.2 5457683
5 Hastings-Sunrise 497162.8 5457456
6 Hastings-Sunrise 495887.3 5457516

  TYPE               YEAR MONTH DAY HOUR MINUTE HUNDRED_BLOCK
1 Theft from Vehicle 2022  5    16   4   20     11XX NOOTKA ST
2 Theft from Vehicle 2022 10     9   2    0     11XX ROSSLAND ST
3 Theft from Vehicle 2022  4    28  17    0     12XX LILLOOET ST
4 Theft from Vehicle 2022  4    17   5   17     12XX ROSSLAND ST
5 Theft from Vehicle 2022 11     8  22    0     12XX SKEENA ST
6 Theft from Vehicle 2022  8    18  20   46     13XX KAMLOOPS ST
  NEIGHBOURHOOD    X        Y
1 Hastings-Sunrise 496992.1 5457928
2 Hastings-Sunrise 496691.3 5457991
3 Hastings-Sunrise 497174.1 5457852
4 Hastings-Sunrise 496689.9 5457876
5 Hastings-Sunrise 497929.5 5457926
6 Hastings-Sunrise 496017.2 5457788

  TYPE               YEAR MONTH DAY HOUR MINUTE HUNDRED_BLOCK
1 Theft from Vehicle 2022 12    17  18    0     19XX WALLACE ST
2 Theft from Vehicle 2022  8    17  15    0     24XX CROWN ST
3 Theft from Vehicle 2022 10    29  20   10     25XX CAMOSUN ST
4 Theft from Vehicle 2022  7    18   5   30     37XX W 1ST AVE
5 Theft from Vehicle 2022  4     3   0    0     37XX W 2ND AVE
6 Theft from Vehicle 2022  8     1   0    0     38XX POINT GREY RD
  NEIGHBOURHOOD   X        Y
1 West Point Grey 486137.9 5457440
2 West Point Grey 485764.6 5456934
3 West Point Grey 485676.0 5456835
4 West Point Grey 486405.9 5457641
5 West Point Grey 486435.2 5457538
6 West Point Grey 486325.2 5457730

  TYPE               YEAR MONTH DAY HOUR MINUTE HUNDRED_BLOCK
1 Theft from Vehicle 2023 1      4  18    0     19XX SASAMAT ST
2 Theft from Vehicle 2023 5     10  12    0     19XX WALLACE ST
3 Theft from Vehicle 2023 2     20  23    0     20XX ALMA ST
4 Theft from Vehicle 2023 7     18   2   30     20XX HIGHBURY ST
5 Theft from Vehicle 2023 3      3   1    0     26XX CROWN ST
6 Theft from Vehicle 2023 2      3  21    0     28XX CROWN ST
  NEIGHBOURHOOD   X        Y
1 West Point Grey 484807.4 5457443
2 West Point Grey 486137.8 5457437
3 West Point Grey 486484.4 5457255
4 West Point Grey 486354.0 5457305
5 West Point Grey 485894.7 5456706
6 West Point Grey 485890.7 5456574

## Data cleaning and wrangling

## Plots

## Compute estimates of the parameter you identified across your groups. Present this in a table. If relevant, include these estimates in your plot.

# Methods: Plan

### What do you expect to find?

### What future questions could this lead to?

### What impact could such findings have?

# References